.calendarContainer {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .agendamentoCard {
    margin-top: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .agendamentoTitle {
    font-weight: bold;
    margin-bottom: 5px;
  }
  