.body {
  background-image: url('/src/app/register/images/fundo.jpeg'); /* Imagem de fundo com tema de barbearia */
 
}

.card {
  background-color: #2b2b2b; /* Cinza escuro */
  border: none;
  color: #f1f1f1;
}

.cardH2 {
  color: #f1c40f; /* Dourado */
  font-family: 'Roboto', sans-serif;
}

.alertSuccess {
  background-color: #d4edda;
  color: #155724;
}

.alertDanger {
  background-color: #f8d7da;
  color: #721c24;
}

.btnPrimary {
  background-color: #f1c40f;
  border: none;
  color: #2b2b2b;
  font-weight: bold;
}

.btnPrimary:hover {
  background-color: #e2ac00;
  color: #ffffff;
}

.link {
  color: #f1c40f;
}

.link:hover {
  color: #e2ac00;
}
